@model ProposalModel

@{
    ViewData["Title"] = "Create";
}

@section Scripts
{
    <script src="@Url.Content("~/js/proposalUtils.js")"></script>
}

<div class="col-md-7 col-lg-8">
    @using (Html.BeginForm("Create", "Proposal", FormMethod.Post, new { @class = "needs-validation" }))
    {
        <div class="row g-3">
            <div class="col-sm-6">

                <div class="col-sm-6">
                    <label asp-for="ProposalPersonId" class="form-label"></label>
                    <select asp-for="ProposalPersonId" class="form-select" asp-items="@ViewBag.People">
                        <option value="@(SelectDefault.None)">@(SelectDefault.None.ToString())</option>
                    </select>
                    <span asp-validation-for="ProposalPersonId" class="text-danger"></span>
                </div>

                <div class="col-sm-6">
                    <label for="ItemList" class="form-label">Items</label>
                    <select id="ItemList" class="form-select" asp-items="@ViewBag.Items" onchange="javascript:selectionChange(this)">
                        <option value="@((int)SelectDefault.None)">@(SelectDefault.None.ToString())</option>
                    </select>
                </div>

                <div class="col-sm-6">
                    <table id="proposalContentTable" class="table">
                        <thead class="thead-light">
                            <tr>
                                <th class="text-center">Proposal Content ID</th>
                                <th class="text-center">Item ID</th>
                                <th class="text-center">Item Name</th>
                                <th class="text-center">Actions</th>
                            </tr>
                        </thead>
                        @*dinamically*@
                        <tbody>
                        </tbody>
                    </table>
                </div>

                <hr class="my-4">

                <div class="form-group">
                    <input class="w-100 btn btn-primary btn-lg" type="submit" value="Save" />
                    <a class="w-100 btn btn-secondary btn-lg" asp-action="index">Cancel</a>
                </div>
            </div>
        </div>
    }
